html {
    scroll-behavior: smooth;
}

.d_none {
    display: none;
}

body {
    background-color: rgb(131, 123, 123);
    margin: 0;
}

h1 {
    font-family: "Raleway", sans-serif;
    margin: 0;

}

h2 {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

h5 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(52, 119, 138);
}

p {
    margin: 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

img {
    object-fit: cover;
    height: auto;
    width: 90%;
    max-height: 300px;
}

.header {
    background-color: rgb(80, 78, 78);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
}

.link {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    gap: 10px;
}

.bookContent {
    margin-left: 5%;
    margin-right: 5%;
}
.book_card{
    background-color: rgb(105,105,105);
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.bookTitle {
    justify-content: center;
    display: flex;
}

.img_container {
    display: flex;
    justify-content: center;
}

.info_comm_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;

}

.information {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.price {
    padding-top: 10px;
}

.like_section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
    gap: 10px;
}

.thumbs {
    height: 30px;
    width: 30px;

}

.comments_section {
    height: 150px;
    width: 90%;
    background-color: lightgray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 60px;

}

#comments {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.05);
    height:80%;
    width: 100%;
    overflow-y: auto;
    padding: 5px 5px;
    box-sizing: border-box;

}

#comments table {
    word-wrap: break-word;
    white-space: normal;
    padding: 5px 5px;
}

#add_comments {
    display: flex;
    justify-content: center;
}
#input_comment {
    width: 50%;
}
#button_comment{
    width: 30%;
}

#username{
    padding-top: 10px;
    font-size: 12px;
    font-weight: 600;
}
#comment{
    font-size: 10px;
    justify-content: center;
}
.footer {
    background-color: rgb(80, 78, 78);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30px;
}
@media (min-width:500px){
    img {
        object-fit: cover;
        height: auto;
        width: 390px;
    }
}