* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(131, 123, 123);
    color: #333;
    line-height: 1.6;
}

.impressum-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(131, 123, 123);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    color: white;
}

h3 {
    font-size: 1.2em;
    margin-top: 15px;
    color: white;
}

p {
    margin-bottom: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
